/* tipografias */
/* colores */
/* mediaq */
/* base */
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif; }

html {
  scroll-behavior: smooth; }

img {
  max-width: 100%;
  max-height: 100%; }

.btn {
  color: black;
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px; }

.titulos {
  font-family: "Cormorant Garamond", serif; }

/* layout */
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center; }

.texto-encima {
  font-family: "Cormorant Garamond", serif;
  font-size: 100px;
  position: absolute;
  top: 200px;
  left: 200px;
  color: #6C462F; }

.navbar-1 {
  font-size: 18px; }

.navbar-collection {
  background-color: white; }

/* mobile */
@media screen and (max-width: 450px) {
  .texto-encima {
    font-size: 22px;
    top: 50px;
    left: 80px; } }

@media screen and (min-width: 451px) and (max-width: 768px) {
  .texto-encima {
    font-size: 22px;
    top: 50px;
    left: 120px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .texto-encima {
    font-size: 22px;
    top: 50px;
    left: 120px; } }

.footer-container {
  background-color: #DED8D2; }

/* components */
/* collection */
.container-collection {
  margin: 11%; }

@media screen and (max-width: 450px) {
  .img-cn {
    width: 100%;
    height: 40%; }
  .titulo-cn {
    font-size: 12px; }
  .precio-cn {
    font-size: 16px; } }

/* ultimo posts */
.u-p {
  display: flex; }

.final-1 {
  margin: 100px;
  height: 500px; }

.titulo-f {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px; }

.p-2 {
  font-size: 18px; }

@media screen and (max-width: 451px) {
  .u-p {
    margin-top: 50px;
    display: grid; }
  .final-1 {
    height: 300px;
    width: 800px;
    margin: 0;
    padding: 0; }
  .p-c1 {
    font-size: 14px; }
  .titulo-f {
    font-size: 40px; } }

@media screen and (min-width: 451px) and (max-width: 768px) {
  .u-p {
    display: flex;
    margin-top: 50px; }
  .final-1 {
    height: 410px;
    width: 850px;
    margin: 0;
    padding: 0; }
  .titulo-f {
    font-size: 32px;
    margin-bottom: 10px; }
  .p-c1 {
    font-size: 14px; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .u-p {
    display: flex;
    margin-top: 50px; }
  .final-1 {
    height: 410px;
    width: 850px;
    margin: 0;
    padding: 0; }
  .titulo-f {
    font-size: 32px;
    margin-bottom: 10px; }
  .p-c1 {
    font-size: 14px; } }

/* wp */
.contenedor-wp {
  margin: 10%; }

@media screen and (max-width: 450px) {
  .texto-abajo-1 {
    font-size: 12px; }
  .img-wp {
    width: 100%; }
  .text-1-wp {
    font-size: 14px; } }

/* post medio */
.container-post-medio {
  display: flex;
  flex-direction: row-reverse;
  margin: 11%; }

.titulo-pm {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px; }

.img-pm {
  width: 50%;
  object-fit: cover; }

.p-c1 {
  font-size: 20px; }

.content-pm {
  margin: 30px; }

@media screen and (max-width: 450px) {
  .container-post-medio {
    display: grid;
    padding: 30px;
    margin: 40px; }
  .img-pm {
    width: 80%;
    height: 400px; }
  .titulo-pm {
    font-family: "Cormorant Garamond", serif;
    font-size: 42px;
    position: relative;
    display: inline-block;
    text-align: left; }
  .p-c1 {
    font-size: 18px; }
  .content-pm {
    margin: 30px; } }

@media screen and (min-width: 451px) {
  .titulo-pm {
    font-size: 32px; } }

/* shop */
.s-titulo {
  font-family: "Cormorant Garamond", serif;
  font-size: 42px;
  text-align: left; }

.s-container {
  background-color: #ded8d2ce; }

/* register */
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%; }

.register1::shadow {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  animation-duration: 5s; }

.h-custom-2 {
  height: 100%; }

/* animation */
.animate__fadeIn {
  animation-duration: 2s; }

/* ig posts */
@media screen and (max-width: 450px) {
  .ig-posts {
    padding: 0;
    margin: 0; }
  .img-ig {
    width: 100%; }
  .ig-1 {
    width: 40%; }
  .img-ig-1 {
    width: 800%; }
  .img-ig-2 {
    width: 100%; }
  .img-ig-3 {
    width: 100%; }
  .img-ig-4 {
    width: 100%; } }

/* contact */
@media screen and (max-width: 450px) {
  .contact-collection {
    display: grid; }
  .contact-text {
    display: flex; }
  .contacto-1 {
    display: flex; } }
