$colores: (
    negro : black,
);


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    font-family: $font-2;
    font-size: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
    color: $color-marron;
}

.navbar-1{
    font-size: 18px;
}

.navbar-collection {
    background-color: map-get($colores , negro ) ;
}