/* tipografias */
$font-1: 'Nunito', sans-serif,;
$font-2: 'Cormorant Garamond', serif,;

/* colores */
$color-marron: #6C462F;
$color-piel1: #DED8D2;
$color-piel2: #ded8d2ce;

/* mediaq */
$mediaMobile-450: 450px;
$mediaTablet-451: 451px;