/* contact */

@media screen and (max-width: 450px) {
    .contact-collection {
        display: grid;
    }

    .contact-text {
        display: flex;
    }

    .contacto-1 {
    display: flex;
    }
    
}