/* ig posts */


@media screen and (max-width:450px) {
    .ig-posts {
        padding: 0;
        margin: 0;
    }

    .img-ig {
        width: 100%;
    }
    
    .ig-1 {
        width: 40%;
    }

    .img-ig-1 {
        width: 800%;
    }

    .img-ig-2 {
        width: 100%;        
    }

    .img-ig-3 {
        width: 100%;        
    }

    .img-ig-4 {
        width: 100%;        
    }
} 